// bootstrapの読み込み？
@import "bootstrap";

// ここにcssを書く

//home display
//forms
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }

  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .rounded {
    margin-top: 10px;
  }

//   在庫表
table {
    // 出入庫ボタン
    .btn {
        margin-: 2px;
    }
}
.column_table{
    width: 100%;
    margin-top: 5px;
}
.column_table td,
.column_table th {
    border: 1px solid #cbced2;
    border-collapse: collapse;
    text-align: center;
    }

    .column_table thead th {
        background: #01214d;
        color: #fff;
        border: 1px solid #cbced2;
        border-collapse: collapse;
        text-align: center;
    }

    .column_table tbody th {
    background: #f5f6f8;
    padding: 4px 12px;
    // display: block;
    // width: auto;
    }

    .column_table td {
    background: #f5f6f8;
    padding: 4px 12px;
    // display: block;
    // width: max;
    }

    
    // color: #666;
    // content: attr(data-title) " :";
    // font-weight: bold;
    // padding: 0 10px 0 0;
    // display: inline;

    @media screen and (max-width: 640px) {
        .column_table,
        .column_table td,
        .column_table th {
          border: 1px solid #cbced2;
          border-collapse: collapse;
          text-align: center;
        }
        
        .column_table thead th {
          display: none;
        }
        
        .column_table tbody th {
          background: #01214d;
          color: #fff;
          padding: 4px 12px;
          display: block;
          width: 100%
        }
        
        .column_table td {
          background: #f5f6f8;
          padding: 4px 12px;
          display: block;
          width: 100%
        }
        
        .column_table td[data-title]::before {
          color: #666;
          content: attr(data-title) " :";
          font-weight: bold;
          padding: 0 10px 0 0;
          display: inline;
        }        
}