<table class="table">
    <tr>
        <th>
            品名
        </th>
        <th>
            在庫数
        </th>
        <th>
            単位
        </th>
        <th>
            出入庫処理
        </th>
        
    </tr>
    <% @items.each do |item| %>
        <tr>
            <td>
                <%= item.name %>
            </td>
            <td>
                <%= item.stock.number %>
            </td>
            <td>
                <%= item.unit %>
            </td>
            <td>
                <%= link_to "出庫", edit_stock_path(item.stock) %>
            </td>
        </tr>
    <% end %>
<table>