入力済
<%= form_with(model: report, local: false) do |f| %>
    <div><%= f.hidden_field :confirmer_id, :value => nil %></div>
    <div><%= f.hidden_field :confirmation, :value => false %></div>
    <%= f.submit "入力を確認", class: "btn btn-primary", data: { confirm: "顧客管理ソフトへの入力確認を未入力に戻しますか？" } %>
<% end %>